
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title> BloF StoP. </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body dir="rtl" class="subpage">
    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index"> BloF StoP <span> - עוצרים את שיטת מצליח</span></a></div>
        <a href="#menu">תפריט</a>
    </header>
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">בית</a></li>
            <li><a href="index.html">איזור אישי</a></li>
            <li><a href="index.html">הוספת חשבונית</a></li>
            <li><a href="index.html">משהו</a></li>
            <li><a href="index.html">עוד משהו</a></li>
        </ul>
    </nav>
    <section class="wrapper">
        <div class="inner">
            <div style="background-color:#AED1E6" class="row">
                <div style="background-color:#A0C4E2">
                    <h1 style="text-align:center;"> הרישום בוצע בהצלחה</h1>
                    <div class="6u$ 12u$(small)" style="float:right; padding-top:3.2%;">
                        <img class="image round fit" src="~/Images/thumbs_up.jpeg" />
                    </div>
                    <h1 style="color:black">  ! ברוך הבא לקהילה שלנו</h1>
                    <div class="6u$ 12u$(small)" style="float:right; padding-top:3.2%;">
                        <p style="font-size:1.2em;color:black;"> עכשיו כל מה שנותר לעשות הוא להזין חשבוניות והמערכת תדאג לשאר...</p>
                        <a href="AddInvoiceN1" class="button fit">הזנת חשבוניות</a>
                    </div>
                    </div>             
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; כל הזכויות שמורות לליאור ואדיר בע"מ</p>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>
