@model WebApplication1.Models.User

<!DOCTYPE HTML>
<html>
<head>
    <title> BloF StoP. </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="עושים סדר בחשבונות החודשיות וחוסכים בכסף">
    <meta name="keywords" content="לחסוך בקלות, חסכון, עוצרים את שיטת מצליח, בלוף, בלוף סטופ, blof stop , הסוף לעושק">
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body dir="rtl">

    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index"> BloF StoP <span> - עוצרים את שיטת מצליח</span></a></div>
        <a href="#menu">תפריט</a>
        <a href="~/SignUpNow">הרשמה</a>
        <a href="~/Login">התחבר</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">בית</a></li>
            <li><a href="index.html">איזור אישי</a></li>
            <li><a href="index.html">הוספת חשבונית</a></li>
            <li><a href="index.html">משהו</a></li>
            <li><a href="index.html">עוד משהו</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>ברוכים הבאים לקהילה שלנו</h1>
                <p>
                    .בקהילת המשתמשים שלנו שמנו לנו למטרה לגרום להורדת מחירים, ולהיאבק ביוקר המחייה<br />
                    ביחד, נשלב ידיים, ונמנע מה"כוחות הגדולים" בשוק לעשוק אותנו,<br />
                    כי ביחד הכח הגדול באמת - הוא אנחנו
                </p>
            </header>
            <a href="#firstSection" class="button big scrolly"> תסבירו לי עוד </a>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- Section -->
        <section class="wrapper style1" id="firstSection">
            <div class="inner">
                <!-- 2 Columns -->
                <div class="flex flex-2">
                    <div class="col col1">
                        <div class="image round fit">
                            <a href="#" class="link"><img src="~/Images/EatingLemon.jpg" alt="" /></a>
                        </div>
                    </div>
                    <div class="col col2">
                        <h3>קרה לכם פעם?</h3>
                        <h4 dir="rtl" style="color:brown;">
                            בשיחה עם חברים עולה נושא החשבונות החודשיים <br />
                            ואתם מגלים שעל אותו השירות בדיוק, חבר שלכם משלם פחות כסף<br \>
                             <b>למה זה קורה? </b><br />
                            רוב הפעמים זה פשוט כי לא ידעתם שאפשר לשלם פחות!                  
                        </h4>
                        <a href="#SecondSection" class="button big scrolly">ספרו לי איך לשים לזה סוף</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section -->
        <section class="wrapper style2" id="SecondSection">
            <div class="inner">
                <div class="flex flex-2">
                    <div class="col col2">
                        <h3>מצטרפים אלינו עוד היום ושמים סוף לעושק</h3>
                        <h4 dir="rtl" style="color:whitesmoke">
                           בעזרת קהילת המשתמשים שלנו באתר, תוכלו לדעת כמה משלמים אנשים כמוכם בדיוק, ולשתף אחרים בחשבונות החודשיות שלכם.<br  /> <br />
                           המערכת תזהה את מאפייני השימוש שלכם בעזרת החשבוניות שהזנתם, ותתריע כאשר ישנו משתמש בעל מאפיינים זהים לשלכם , הצורך שירותים דומים ומשלם פחות.<br /><br />
                            כמובן שהמערכת אינה חשופה לפרטים אישיים של המשתמשים , והיא שומרת על חיסיון מלא של המשתמשים. <br /><br />
                            
                            <div style="color:darkred; font-size:22px; ">
                                הקישו על הכפתור למטה והצטרפו עוד היום.<br />
                            ותוכלו  להעלות חשבוניות ותתחילו לחסוך מאות שקלים בחשובונות החודשיים כבר מהחודש
                            </div>                     
                        </h4>
                        <a href="~/SignUpNow" class="button">הצטרף עכשיו</a>
                    </div>
                    <div class="col col1 first">
                        <div class="image round fit">
                            <a href="~/SignUp/SignUp" class="link"><img src="~/Images/310H.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>מצטרפים</h2>
                    <h3>חוסכים, ועוזרים לאחרים לחסוך גם.</h3>

                </header>
                <div class="flex flex-3">
                    <div class="col align-center">
                        <div class="image round fit">
                            <img src="~/Images/bills_calculator_hand.jpg" alt="" />
                        </div>
                        <p>מעלים חשבוניות בקלות לאתר </p>
                    </div>
                    <div class="col align-center">
                        <div class="image round fit">
                            <img src="~/Images/system calculating.jpg" alt="" />
                        </div>
                        <p>המערכת תשווה בין החשבוניות שלכם לחשבוניות של אלפי משתמשים בקהילה</p>
                    </div>
                    <div class="col align-center">
                        <div class="image round fit">
                            <img src="~/Images/hands together.jpg" alt="" />
                        </div>
                        <p>חוסכים בקלות ועוזרים לאחרים לחסוך גם </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
            </ul>
            <p>&copy; כל הזכויות שמורות לליאור ואדיר בע"מ</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>