@model WebApplication1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title> BloF StoP. </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <style>
        .warningsForLogin {
            color: darkorange;
            font-size: 10px;
        }
    </style>
</head>
<body dir="rtl">
    <div class=" wrapper">
        <form action="Auth" method="post">
            <input type="text" name="UserName" id="UserName" placeholder="שם משתמש" value="@Model.UserName"/>  
            <div class="warningsForLogin">@Html.ValidationMessageFor(x => x.UserName)</div>
            <input type="password" name="UserPassword" id="UserPassword" placeholder="סיסמא" value="@Model.UserPassword" /> 
            <div class="warningsForLogin">@Html.ValidationMessageFor(x => x.UserPassword)</div>
            <input id="Submit" type="submit" value="שלח" />
        </form>
    </div>
</body>
</html>
