@model WebApplication1.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/Login" method="post">
            <input type="text" name="UserName" value="@Model.UserName" />
            <input type="password" name="UserPassword" value="@Model.UserPassword" />
            <input id="Submit" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
